.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Custom CSS */

/*
.btn-circle {
  border-radius: 0%;
  width: 30px;
  height: 30px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  display: 'inline-block'
}

.btn-circle.btn-sm {
  width: 24px;
  height: 24px;
  font-size: 12px;
}


.btn-circle.btn-success {
  background-color: green;
  color: white;
}

.btn-circle.btn-danger {
  background-color: red;
  color: white;
  pointer-events: none; 
}

.btn-circle.btn-danger:hover {
  background-color: red; 
  color: white;
}

.btn-circle.btn-danger2 {
 
  pointer-events: none; 
}


.allButtons{
  gap: 1rem;
  display: flex
}


.fileName {
  font-size: 14px;
  margin-top: 8px;
  color: #333;
}

.text-muted {
  color: #aaa;
  font-style: italic;
}

.p-column-header-content{
  justify-content: center;
}

.p-button-primary{
  margin-top: 20px !important; 
}

*/